@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav-buttons{
    margin-left: 50%;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

 body{
    font-family:'Poppins',sans-serif;

 }
 h1{
    font-size: 2.5rem;
    font-weight: 700;
 }

 h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
 }
 h3{
    font-size: 1.5rem;
    font-weight: 800;
    color: #000;

 }
 h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
  
 }
 h5{
    font-size: 1rem;
    font-weight: 400;
    color: #000;
  
 }
 h2{

    color: #d8d8d8;
 }


 .navbar{
    font-weight: 16px;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important ;
    top: 0;
    left: O;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    
 } 
 navbar-light .navbar-nav .nav-link{
    padding: 0 20px ;
    color: black;
    transition: 0.4 ease;
 }
 .navbar-light .navbar-nav .nav-link:hover,
 .navbar i:hover,
 .navbar-light .navbar-nav .nav-link.active
 .navbar i:hover{
   color:blue;

 }

 a{
   text-decoration: none;
}



/* about us */
.about {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;
   margin-top: 5rem;
 }
 
 .image-container {
   flex: 1 1 42rem;
   text-align: center; /* Center the image */
 }
 
 .image-container img {
   max-width: 100%; /* Ensure the image doesn't exceed its container's width */
   border-radius: 1rem; /* Apply border-radius to the image */
 }
 
 .content {
   flex: 1 1 42rem;
 }
 
 .btn {
   display: inline-block;
   padding: 0.5rem 1rem;
   background-color: rgb(77, 162, 175);
   color: white; 

   text-decoration: none;
   border-radius: 0.5rem;
   transition: background-color 0.3s ease;
 }
 
 .btn:hover {
   background-color: white;
 }
 
 /* Optional: Adjust styling for paragraph and heading */
 h3 {
   color: black;
 }
 
 p {
   color: black;
   line-height: 1.6;
 }
 


.logo{
   width: 150px;
   height: 40px;
}
/* ======================== */
/* -------   Header ------- */
/* ========================= */
#page-header {
  background-image: url("../img/photo-for-Adipex-1536x864.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h2,
#page-header p {
  color: white;
}
#paginition {
  text-align: center;
}
#paginition a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#paginition a i {
  font-size: 16px;
  font-weight: 600;
}

/* =============================================================================================================================*/
/* =============================================================================================================================*/
/*  */
/*                                                Contact Page   
/*  */
/* =============================================================================================================================*/
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
  gap: 45px;
}
#contact-details .details {
  width: 40;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 36px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details li p {
  margin: 0px;
  font-size: 14px;
}
#contact-details .map {
  width: 55%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}
#form-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  padding: 60px;
  border: 1px solid #e1e1e1;
  gap: 80px;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form-details form button {
  background-color: #088178;
  color: #fff;
}
#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
}
#form-details .people div img {
  width: 20%;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 1.3;
}

#form-details.people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}


/* =============================================================================================================================*/
/* =============================================================================================================================*/
/*  */
/*                                                Responsive   
/*  */
/* =============================================================================================================================*/
/* =============================================================================================================================*/

@media (max-width: 1000px) {
  #product1 .pro {
    min-width: 230px;
    width: 45%;
  }
  #prodetails {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
  }

  #prodetails .single-pro-image {
    width: 80%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  #prodetails .single-pro-details {
    width: 100%;
  }
  #prodetails .single-pro-details h6 {
    font-size: 16px;
  }
  #prodetails .single-pro-details h4 {
    font-size: 32px;
  }
  /* contact */
  #contact-details {
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact-details .map {
    width: 100%;
  }
  #form-details {
    margin: 10px;
    padding: 40px;
    flex-wrap: wrap;
  }
  #form-details form {
    width: 80%;
    margin-bottom: 30px;
  }
  #form-details .people {
    margin-top: 30px;
  }
  #form-details .people div {
    margin-bottom: 32px;
    display: flex;
    gap: 30px;
    align-items: center;
  }
  #form-details .people div:last-child {
    margin-bottom: 0;
  }
  #form-details .people div img {
    margin-bottom: 14px;
    width: 20%;
  }
  #form-details .people div p {
    line-height: 1.4;
  }

 
  /*****************   Contact page        ****************/

  #form-details {
    padding: 40px;
  }
  #form-details form {
    width: 50%;
  }
  #contact-details {
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact-details .map {
    width: 100%;
  }
  #form-details {
    margin: 10px;
    padding: 40px;
    flex-wrap: wrap;
    margin-top: 48px;
  }
  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }
  #form-details .people {
    margin-top: 30px;
  }
  #form-details .people div {
    margin-bottom: 16px;
    display: flex;
    gap: 30px;
    align-items: center;
  }
  #form-details .people div:last-child {
    margin-bottom: 0;
  }
  #form-details .people div img {
    margin-bottom: 14px;
    width: 20%;
  }
  #form-details .people div p {
    line-height: 1.4;
  }
}
/* ================================================================================= */
/* ---------------                      Mobile              ------------------------ */
/* ==================================================================================*/
@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  header {
    padding: 10px 30px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  #feature {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0;
    justify-content: center;
  }

  #product1 .pro {
    width: 90%;
  }
  #banner {
    padding: 10px;
    height: 40vh;
    text-align: center;
  }
  #sm-banner h2 {
    font-size: 20px;
  }
  #sm-banner h4 {
    font-size: 12px;
  }
  #sm-banner button {
    padding: 9px 14px;
  }
  #sm-banner {
    /* min-width: 100%;
    height: 30vh; */

    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    /* height: 20vh; */
  }
  #sm-banner .banner-box {
    height: 25vh;
  }
  #banner3 {
    /* padding: 0 40px; */
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
  #banner3 h2 {
    font-size: 20px;
  }
  #newsletter {
    flex-direction: column;
    text-align: center;
  }
  #newsletter p {
    font-size: 16px;
  }
  #newsletter .form {
    /* display: flex; */
    width: 100%;
  }
  footer.copyright {
    text-align: start;
  }

  
  /*****************   About page        ****************/
 
  #about-head {
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-head div {
    padding-left: 0px;
  }
  #about-app .video {
    width: 100%;
  }
  
  /*****************   Contact page        ****************/
  
  #contact-details {
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact-details .map {
    width: 100%;
  }
  #form-details {
    margin: 10px;
    margin-top: 48px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }
  #form-details .people {
    margin-top: 30px;
  }
  #form-details .people div {
    margin-bottom: 32px;
  }
  #form-details .people div:last-child {
    margin-bottom: 0;
  }
  #form-details .people div img {
    margin-bottom: 14px;
    width: 20%;
  }
  #form-details .people div p {
    line-height: 1.4;
  }

  /*****************   Cart page        ****************/
 
  #cart-add{
    flex-direction: column;
  }
  #coupon {
    width: 100%;
  }
  #subtotal{
    width: 100%;
    padding: 20px;
  }
}


h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}



button {
  font-size: 0.8rem;
  font-weight: 900;
  outline: none;
  padding: 10px 15px;
  margin-top: 20px;
  text-transform: uppercase;
  border-radius: 3px;
}

.btn-dark {
  background-color: black;
  color: white;
}

.contact-header {
  background-image: url(../img/photo-for-Adipex-1536x864.jpg);
  padding: 180px 0 100px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.contact-header h2 {
  color: white;
  font-size: 2.8rem;
  padding-bottom: 10px;
}

.contact-header p {
  color: white;
}

.about {
  margin-top: 50px;
  margin-bottom: 100px;
}

.image-section img {
  width: 100%;
  height: auto;
}

.social a {
  margin: 0 10px;
  font-size: 1.2rem;
  color: black;
  transition: 0.3s;
}

.social a:hover {
  color: blue;
}


@media (max-width: 768px) {
  .navbar-collapse {
    flex-grow: 0;
  }

  .contact-header {
    padding: 100px 0 50px 0;
  }

  .contact-header h2 {
    font-size: 2rem;
  }

  .about .content-section, .about .image-section {
    text-align: center;
  }

  .about .image-section img {
    max-width: 100%;
    height: auto;
  }
}





h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}


 
.contact-header {
    background: url('../img/photo-for-Adipex-1536x864.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.about .content-section {
    padding: 50px;
}

.about .image-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.social {
    margin-top: 20px;
    display: flex;
}

.social a {
    color: #333;
    margin-right: 10px;
    font-size: 1.2rem;
}

.video {
    text-align: center;
    margin: 20px 0;
}

.video video {
    width: 70%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
}


.row {
    margin-right: 0;
    margin-left: 0;
}

.container {
    max-width: 1200px;
}
